[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
"pyqt5" = "*"
lxml = "*"
pyinstaller = "*"
appdirs = "*"

[dev-packages]

[requires]
python_version = "3.7.1"
