[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
"pyqt5" = "*"
ocrd-pyexiftool = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.6"
